.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh;
}

.red-light {
    background-color: rgb(228, 18, 18);
    display: block;
    width: 150px;
    height: 150px;
    border-radius: 180px;
}

.green-light {
    background-color: green;
    display: none;
    width: 150px;
    height: 150px;
    border-radius: 180px;
}

.orange-light {
    background-color: orange;
    display: none;
    width: 150px;
    height: 150px;
    border-radius: 180px;
}

.creator {
    text-align: center;
}

a {
    text-decoration: none;
}

h1, h3, p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
